<!DOCTYPE html>
<html>
  <head>
    <title>Coffee Time</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar">
      <h1 class="title"><a href="/">Coffee Time</a></h1>
        <nav class="user_nav">
            <ul class="user__info">
              <li>
                <a href="#">マイページ</a>
              </li>
            <li>
          <a class="post" href="#">投稿する</a>
          </li>
          </ul>
        </nav>
    </div>
  </header>

    <%= yield %>

    <footer>
      <p>
        Copyright Coffee Time 2019.
      </p>
    </footer>
  </body>
</html>